---
import logoDark from '../assets/logo_transparent.png';
import logoLight from '../assets/dark_logo.png';
import Navigation from './Navigation.astro';
import { Picture } from 'astro:assets';
---

<header>
	<a href="/">
		<picture>
			<source srcset={logoDark.src} media="(prefers-color-scheme: dark)" />
			<img src={logoLight.src} alt="Descriptive alt text" width={240}id="logo" />
		</picture>
	</a>
	<Navigation />

</header>

<style>
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		background: var(--background-color);
		color: var(--text-color);
		gap: 1rem;
		text-align: center;
	}

	#logo {
		max-width: 240px;
		height: auto;
		animation: fadeInLogo 0.8s ease-in-out;
	}

	@media (min-width: 768px) {
		header {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			text-align: left;
		}
	}


	@keyframes fadeInLogo {
		from {
		transform: scale(0.9);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
	}
</style>

