---
import logoDark from '../assets/logo_transparent.png';
import logoLight from '../assets/dark_logo.png';
import Navigation from './Navigation.astro';

---

<header>
	<a href="/">
		<picture>
			<source srcset={logoDark.src} media="(prefers-color-scheme: dark)" />
			<img src={logoLight.src} alt="Descriptive alt text" width={300}id="logo" />
		</picture>
	</a>
	<Navigation />

</header>


<style>


</style>
