---

---

<section id="hero">
	<div class="hero-content">
		<p>Experience ultimate shine with professional detailing and pressure washing services. Supreme Detailing brings your property to life and ensures they look their best.</p>
		<div class="hero-buttons">
			<a href="#services" class="btn primary">View offered Services</a>
			<a href="#contact" class="btn secondary">Book Now</a>
		</div>
	</div>

</section>

<style>
	#hero {
		padding: 4rem 1rem;
		text-align: center;
		background-color: var(--background-color);
		color: var(--text-color);
		display: flex;
		align-items: center;

	}
</style>
